name: ci

on:
  push:
    branches:
      - master
      - /^\d+\.\d+\.\d(-alpha\.\d+|-beta\.\d+|-rc\.\d+)?$/
    tags:
      - "*"
  pull_request:
    branches:
      - master

jobs:
  build-test:
    name: Build and Test on node ${{ matrix.node_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: ['10', '12']
        os: [ubuntu-latest, macOS-latest]
    env:
      GH_ACTIONS_NODE_VERSION: "10"
      LOGS_DIR: /tmp/ngx-form-errors/logs
      LOGS_FILE: /tmp/ngx-form-errors/logs/build-perf.log
      TZ: "Europe/Brussels"
      MAIN_NODE_VERSION: '10'
      MAIN_OS: 'ubuntu-latest'
    steps:
      # See: https://github.com/marketplace/actions/checkout
      - uses: actions/checkout@v2

      # See: https://github.com/marketplace/actions/setup-node-js-for-use-with-actions
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node_version }}

      - name: Create file & folder for GitHub Actions logs
        run: |
          # cfr scripts/_ghactions-group.sh
          mkdir -p $LOGS_DIR
          touch $LOGS_FILE

      - name: Get tag name if exists
        id: get_tag_name
        run: echo ::set-output name=TAG_NAME::$(echo $GITHUB_REF | sed -n "s/^refs\/tags\/\(\S*\).*$/\1/p")

      - name: List main variables
        run: |
          echo "Commit SHA  : ${GITHUB_SHA}"
          echo "Tag         : ${GH_ACTIONS_TAG}"
          echo "Reference   : ${GITHUB_REF}"
          echo "Repository  : ${GITHUB_REPOSITORY}"
          echo "Event       : ${GITHUB_EVENT_NAME}"
          echo "Author      : ${GITHUB_ACTOR}"
          NODE_VERSION="$(node -v)"
          echo "Node version: $NODE_VERSION"
          npm i -g npm@6.9.2
          # This ensures that we are authenticated without requiring to have an actual .npmrc file within the project
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> ~/.npmrc
        env:
          GH_ACTIONS_TAG: ${{ steps.get_tag_name.outputs.TAG_NAME }}

      # See: https://help.github.com/en/actions/configuring-and-managing-workflows/caching-dependencies-to-speed-up-workflows#example-using-the-cache-action
      - name: Cache node modules
        uses: actions/cache@v1
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install dependencies
        run: |
          npm ci
          npm run install:ci:demo:ng-previous
          npm run install:ci:demo:ng-latest

      # See: https://github.com/marketplace/actions/upload-artifact
      - uses: actions/upload-artifact@v1
        with:
          name: ngx-form-errors-dist
          path: dist
        if: matrix.node_version == env.MAIN_NODE_VERSION && matrix.os == env.MAIN_OS && env.GH_ACTIONS_TAG != ''

      - name: Linting and testing
        run: |
          npm run lint:all
          npm run test:ci:all

      - name: Generate docs coverage
        run: npm run docs:coverage
        if: matrix.node_version == env.MAIN_NODE_VERSION && matrix.os == env.MAIN_OS

      - name: Save logs
        run: bash ./scripts/ci/print-logs.sh

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: "reports/coverage/lcov.info"
        if: matrix.node_version == env.MAIN_NODE_VERSION && matrix.os == env.MAIN_OS

  release:
    name: Release
    runs-on: 'ubuntu-latest'
    needs: build-test
    steps:
      - name: Get tag name if exists
        id: get_tag_name
        run: echo ::set-output name=TAG_NAME::$(echo $GITHUB_REF | sed -n "s/^refs\/tags\/\(\S*\).*$/\1/p")
        env:
          GH_ACTIONS_TAG: ${{steps.get_tag_name.outputs.TAG_NAME}}

      - name: Display message if build not triggered for a tag  
        run: echo "Release logic is not executed because the build is not triggered for a tag."
        if: env.GH_ACTIONS_TAG == ''

      # See: https://github.com/marketplace/actions/checkout
      - uses: actions/checkout@v2
        if: env.GH_ACTIONS_TAG != ''

      - uses: actions/download-artifact@v1
        with:
          name: ngx-form-errors-dist
          path: dist
        if: env.GH_ACTIONS_TAG != ''

      - name: Release
        run: npm run release:publish
        env:
          GH_ACTIONS_JOB_STATUS: ${{ job.status }}
        if: env.GH_ACTIONS_TAG != ''

      - name: Save logs
        run: bash ./scripts/ci/print-logs.sh
        if: env.GH_ACTIONS_TAG != ''
